* {
    box-sizing: border-box;
}
body {
    margin-top: 20px;
    overflow-x: hidden; /* Esto previene el desplazamiento lateral */
}
#page-content {
    flex: 1;
  }
  
.footer_area {
    position: relative;
    z-index: 1;
    overflow: visible;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 50px 0; /* Ajuste el padding según sea necesario */
    flex-shrink: 0; /* Esto es para asegurarse de que el footer no se reduzca */
}

/* Media queries para tablets */
@media (max-width: 768px) {
    .footer_area {
        padding: 35px 0; /* Padding más pequeño para tabletas */
    }
}

/* Media queries para dispositivos móviles */
@media (max-width: 576px) {
    .footer_area .row .col-6 {
        padding: 0; /* Asegúrate de que no haya padding que cause desbordamiento */
        margin-bottom: 15px; /* Espacio entre imágenes apiladas */
    }
  }

  
  @media (max-width: 991px) { /* Estilo para pantallas pequeñas */
    .footer_area .row .col-md-3 {
      margin-bottom: 15px; /* Agrega espacio entre imágenes apiladas */
    }
  }
  
  @media (max-width: 767px) { /* Estilo para pantallas muy pequeñas */
    .footer_area .row .col-sm-4 {
      margin-bottom: 15px; /* Agrega espacio entre imágenes apiladas */
    }
  }
  

.footer_social_area {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 10px 0;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    margin-right: 10px;
    text-decoration: none; /* Quita el subrayado */
}

.footer_social_area a i {
    line-height: 40px; /* Alinea verticalmente los iconos */
}
.footer_menu {
    padding-left: 10; /* Elimina el padding por defecto de la lista */
  }
  .footer_menu li {
  list-style: none; /* Elimina los puntos de la lista */
  margin-bottom: 0.25rem; /* Ajusta el espacio entre elementos de la lista */
}

.footer_menu li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Hereda el color de texto del elemento padre */
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
    background-color: #3f43fd; /* Cambia el color de fondo al hacer hover */
}
.widget-title {
    margin-top: 0; /* Ajuste para espaciado entre título y lista */
  
  }
  h5.widget-title {
    margin-top: 0 !important; /* Usa !important para asegurarte de que este estilo tenga prioridad */
}
  
.single-footer-widget {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
    color: #495057; /* Color para los títulos del widget */
    font-size: 1.2rem;
}

.single-footer-widget .footer_menu {
    list-style: none; /* Quita los estilos de lista */
    padding-left: 0; /* Quita el padding de la lista */
}

.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 0.5rem; /* Ajusta el margen según sea necesario */
    display: block;
    font-size: 1rem;
    text-decoration: none; /* Quita el subrayado */
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd; /* Color cuando el usuario hace hover o focus */
    text-decoration: underline; /* Subraya el enlace al hacer hover */
}

/* Ajustes adicionales y estilos específicos que puedas necesitar irían aquí */
ul {
    list-style-type: none; /* Esto elimina los marcadores de lista */
    padding-left: 0; /* Esto elimina el relleno izquierdo que normalmente empuja los elementos de la lista hacia adentro */
    margin-left: 0; /* Esto elimina cualquier margen izquierdo si está presente */
  }


  @font-face {
    font-family: 'Alta Regular';
    src: url('fonts/Alta_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


#link-especial {
    font-size: 40px; /* O el tamaño que prefieras */
    font-family: 'Alta Regular', sans-serif;
    color: #495057;
    margin-right: 20px;
    margin-left: 0; /* Ajusta este valor según sea necesario */

}

#logo-especial{
    padding-left: -1100px; /* Ajusta este valor según sea necesario */
}

@media (max-width: 768px) {
    #link-especial {
        font-size: 20px; /* Tamaño más pequeño para pantallas menores */
    }
    .navbar-brand img {
        height: 50px; /* Menor tamaño para el logo */
    }
    .nav-item, .nav-link {
        display: block; /* Muestra los elementos en pantalla completa en dispositivos móviles */
        width: 100%; /* Ocupa toda la anchura disponible */
        text-align: left; /* Alinea el texto a la izquierda */
    }
    /* Asegúrate de que el menú de navegación se colapsa correctamente */
    .navbar-collapse {
        transform: none !important; /* Elimina cualquier transformación que pueda estar escondiendo el menú */
    }
}

/* Clases para imágenes responsivas */
.img-fluid {
    max-width: 100%;
    height: auto;
}
