{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />

<section class="main-content-padding">
  <div class="container">
    <div class="row mt-60">
      <div class="col-12">
        <a href="{% url 'manage_companies' %}" class="btn btn-outline-primary mb-3">{% trans "VOLVER_GESTION" %}</a>
        <div class="service-block4 h-100">
          <div class="service-icon">
            <i class="icon-tools"></i>
          </div>
          <div class="service-desc">
            <h4>{{ company.user }}</h4>
            <h5>{{ company.address }}</h5>
            <p><strong>{% trans "NAME_COMP" %}: </strong>{{ company.company_name }}<p>
            <p><strong>Email: </strong>{{ company.contact_email }}</p>
            <p><strong>{% trans "PHONE" %}: </strong>{{ company.phone_number }}</p>
            <p><strong>{% trans "COUNTRY" %}: </strong>{{ company.country }}</p>
            {% if company.country == 'AR' %}
            <p><strong>Ciudad: </strong>{{ company.city }}</p>
            <p><strong>Provincia: </strong>{{ company.province_name }}</p>
            {% elif company.country == 'IT' %}
            <p><strong>Regione: </strong>{{ company.region_it }}</p>
            <p><strong>Provincia: </strong>{{ company.provincia_it }}</p>
            <p><strong>Comune: </strong>{{ company.comuna_it }}</p>
            {% endif %}
            <p><strong>{% trans "SECTOR" %}: </strong>{{ company.sector }}</p>
            <p><strong>{% trans "CANT_EMP" %}: </strong>{{ company.cantidad_empleados }}</p>
            <p><strong>{% trans "RAZON_SOCIAL" %}: </strong>{{ company.razón_social }}</p>
            <p><strong>{% trans "CUIT" %}: </strong>{{ company.cuit }}</p>
            <p><strong>{% trans "STATUS" %}: </strong>{{ company.get_status_display }}</p>
            {% if company.status == 'inactive' %}
            <a href="{% url 'activate_company' company.id %}" class="btn btn-success">{% trans "ACTIVAR" %}</a>
            {% endif %}
            {% if company.status == 'active' %}
            <a href="{% url 'inactivate_company' company.id %}" class="btn btn-danger">{% trans "DESACTIVAR" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock %}
