{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">

  <!--Section: FAQ-->
<section class="container mt-4">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">Preguntas más frecuentes
    </h3>
    <p class="text-center mb-5">
      Encuentre las respuestas a las preguntas más frecuentes a continuación
    </p>
  
    {% for faq in faqs %}
    {% for translation in faq.translations.all %}
        {% if translation.language == request.LANGUAGE_CODE %}
            <h6 class="mb-3 text-primary">{{ translation.title }}</h6>
            <p>{{ translation.content }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}

  </section>
  <!--Section: FAQ-->

<!-- Section: Questions -->
<div class="container my-4">
    {% for question in questions %}
        <div class="list-group w-100">
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#questionModal{{ question.id }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.title }}</h5>
                </div>
                <p class="mb-1">{{ question.short_answer }}</p>
                <small><u>Leer más</u></small>
                <!-- Collapsed content -->
            </a>
            <!-- Modal -->
            <div class="modal fade" id="questionModal{{ question.id }}" tabindex="-1" aria-labelledby="questionModalLabel{{ question.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="questionModalLabel{{ question.id }}">{{ question.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ question.complete_answer }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aquí termina el bloque que se repite por cada question -->
    {% endfor %}
</div>

    <!-- ... más contenido ... -->
{% endblock content %}