{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">

  <!--Section: FAQ-->
<section class="container mt-4">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">{% trans "PREG_FREC" %}
    </h3>
    <p class="text-center mb-5">
        {% trans "DESCR_FREC" %}
    </p>
  
    {% for faq in faqs %}
    {% for translation in faq.translations.all %}
        {% if translation.language == request.LANGUAGE_CODE %}
            <h6 class="mb-3 text-primary">{{ translation.title }}</h6>
            <p>{{ translation.content }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}

  </section>
  <!--Section: FAQ-->

<!-- Section: Questions -->
<div class="container my-4">
    {% for question in questions %}
        <div class="list-group w-100">
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#questionModal{{ question.id }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.title }}</h5>
                </div>
                <p class="mb-1">{{ question.short_answer }}</p>
                <small><u>Leer más</u></small>
                <!-- Collapsed content -->
            </a>
            <!-- Modal -->
            <div class="modal fade" id="questionModal{{ question.id }}" tabindex="-1" aria-labelledby="questionModalLabel{{ question.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="questionModalLabel{{ question.id }}">{{ question.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ question.complete_answer }}
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_staff or request.user.is_superuser %}
        <form method="POST" action="{% url 'delete_question' question.id %}">
          {% csrf_token %}
          <button type="submit"  aria-label="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
            </svg>
          </button>
        </form>
        {% endif %}
        </div>
        <!-- Aquí termina el bloque que se repite por cada question -->
    {% endfor %}
</div>

    <!-- ... más contenido ... -->
{% endblock content %}