{% extends 'base.html' %}
{% load static widget_tweaks %}
{% load i18n %}
{% block content %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br><br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{% trans "ACT_TITLE" %}</h4>
        <p>{% trans "ACT_TITLE" %}</p>
        <hr>
        <p class="mb-0">{% trans "ACT_FIN" %}</p>
    </div>
</div>
{% endblock %}
