{% extends "base.html" %}
{% load static widget_tweaks %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'stylescomp.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3>{% trans "CREATE_JOB" %}</h3>
            </div>
    
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="id_country">{% trans "COUNTRY" %}:</label>
                            <select name="country" class="form-control" id="id_country" required>
                                <option value="AR">Argentina</option>
                                <option value="IT">Italia</option>
                            </select>
                            </div>
                        </div>
                        <div id="argentinian-fields">

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="id_province">Provincia/Estado:</label>
                                <select name="province_name" id="province" class="form-control" onchange="updateCities()">
                                    <option value="">Selecciona una provincia</option>
                                    {% for province in provinces %}
                                        <option value="{{ province.id }}">{{ province.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="id_city">Ciudad/Localidad:</label>
                                <select name="city" id="city" class="form-control">
                                    <option value="">Primero selecciona una provincia</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="italy-fields" style="display: none;">

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                        <label for="select-region">Regione:</label>
                        <select id="select-region" name="region_it" class="form-control" onchange="cargarProvincias()">
                            <option value="">Selecciona una región</option>
                        </select>
                    </div>
                </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                        <label for="select-provincia" >Provincia:</label>
                        <select id="select-provincia" name="provincia_it" class="form-control" onchange="cargarComunas()">
                            <option value="">Selecciona una provincia</option>
                        </select>
                    </div>
                </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                        <label for="select-comuna">Comune:</label>
                        <select id="select-comuna" name="comuna_it" class="form-control">
                            <option value="">Selecciona una comuna</option>
                        </select>
                        </div>
                    </div>
                </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="id_sector">{% trans "SECTOR" %}:</label>
                                <select name="sector" id="id_sector" class="form-control" required>
                                {% for value, text in form.fields.sector.choices %}
                                <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="id_category">{% trans "CATEGORIA" %}:</label>
                            <select name="category" id="id_category" class="form-control" required>
                                {% for value, text in form.fields.category.choices %}
                                <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="id_expiration_date">{% trans "FECHA_VENCIMIENTO" %}:</label>
                            {{ form.expiration_date|add_class:"form-control" }}
                            {% if form.expiration_date.errors %}
                                {% for error in form.expiration_date.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="id_application_limit">{% trans "LIMIT_POST" %}:</label>
                            <input type="number" name="application_limit" id="id_application_limit" class="form-control" value="{{ form.application_limit.value|default_if_none:10 }}" min="1" required>
                            {% if form.application_limit.errors %}
                                {% for error in form.application_limit.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="id_address">{% trans "ADRESS" %}:</label>
                            <input type="text" name="address" id="id_address" class="form-control" value="{{ form.address.value|default_if_none:'' }}" required>
                            {% if form.address.errors %}
                                {% for error in form.address.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_title">{% trans "TITLE_JOB" %}:</label>
                            <input type="text" name="title" id="id_title" class="form-control" value="{{ form.title.value|default_if_none:'' }}" required>
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label for="id_descripcion" required>{% trans "DESCRIP_JOB" %}:</label>
                            {{ form.descripcion|add_class:"form-control" }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">{% trans "PUBLICAR_JOB" %}o</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->
    
        </div>
    </div>
</div>

<script>
    var provinceToCities = {{ province_to_cities_map|safe }};
  
    function updateCities() {
        console.log("Actualizando ciudades...");
  
        var provinceSelect = document.getElementById('province');
        var citySelect = document.getElementById('city');
        var selectedProvinceId = provinceSelect.value;
  
        console.log("Provincia seleccionada: " + selectedProvinceId);
  
        citySelect.innerHTML = '';
  
        // Comprobar que el mapeo contiene la provincia seleccionada
        console.log(provinceToCities);
        if (!provinceToCities[selectedProvinceId]) {
            console.log("No se encontraron ciudades para la provincia con ID: " + selectedProvinceId);
        }
  
        var cities = provinceToCities[selectedProvinceId] || [];
  
        console.log("Ciudades encontradas: ", cities);
  
        cities.forEach(function(cityName) {
            console.log("Añadiendo ciudad: " + cityName);
            var option = document.createElement('option');
            option.value = cityName;
            option.textContent = cityName;
            citySelect.appendChild(option);
        });
    }
// Funciones similares para cargar provincias y comunas basadas en la región seleccionada
// ...
  // Función que se ejecuta al cargar la página
  document.addEventListener('DOMContentLoaded', function() {
            cargarRegiones();
        });

        // Carga las regiones desde el archivo JSON
        function cargarRegiones() {
            fetch('/static/accounts/italia/italia.json') // Modifica esta ruta al archivo JSON
                .then(response => response.json())
                .then(data => {
                    const selectRegion = document.getElementById('select-region');
                    console.log(selectRegion)
                    data.regioni.forEach(region => {
                        let option = document.createElement('option');
                        option.value = region.nome;
                        option.textContent = region.nome;
                        selectRegion.appendChild(option);
                    });
                });
        }

        // Carga las provincias según la región seleccionada
        function cargarProvincias() {
            const regionSeleccionada = document.getElementById('select-region').value;
            fetch('/static/accounts/italia/italia.json') // Modifica esta ruta al archivo JSON
                .then(response => response.json())
                .then(data => {
                    const selectProvincia = document.getElementById('select-provincia');
                    selectProvincia.innerHTML = ''; // Limpiar provincias anteriores
                    data.regioni.forEach(region => {
                        if (region.nome === regionSeleccionada) {
                            region.province.forEach(provincia => {
                                let option = document.createElement('option');
                                option.value = provincia.nome;
                                option.textContent = provincia.nome;
                                selectProvincia.appendChild(option);
                            });
                        }
                    });
                });
        }

        // Carga las comunas según la provincia seleccionada
        function cargarComunas() {
            const provinciaSeleccionada = document.getElementById('select-provincia').value;
            fetch('/static/accounts/italia/italia.json') // Modifica esta ruta al archivo JSON
                .then(response => response.json())
                .then(data => {
                    const selectComuna = document.getElementById('select-comuna');
                    selectComuna.innerHTML = ''; // Limpiar comunas anteriores
                    data.regioni.forEach(region => {
                        region.province.forEach(provincia => {
                            if (provincia.nome === provinciaSeleccionada) {
                                provincia.comuni.forEach(comuna => {
                                    let option = document.createElement('option');
                                    option.value = comuna.nome;
                                    option.textContent = comuna.nome;
                                    selectComuna.appendChild(option);
                                });
                            }
                        });
                    });
                });
        }
        
        document.getElementById('id_country').addEventListener('change', function() {
    var country = this.value;
    var italianFields = document.getElementById('italy-fields');
    var argentinianFields = document.getElementById('argentinian-fields');

    if (country === 'IT') {
        italianFields.style.display = 'block';
        argentinianFields.style.display = 'none';
    } else {
        italianFields.style.display = 'none';
        argentinianFields.style.display = 'block';
    }
});
  </script>
  
{% endblock %}
