{% extends "base.html" %}
{% load static %}
{% load tz %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />
{% now "Y-m-d" as today %} <!-- Captura la fecha actual en una variable llamada "today" -->

<section>
  <div class="container">
    <div class="row mt-60">
      <div class="col-12">
        <div class="service-block4 h-100">
          <div class="service-icon">
            <i class="icon-tools"></i>
          </div>
          <div class="service-desc">
            <h4>{{ job.title }}</h4>
            <h5><strong>{% trans "SECTOR" %}:</strong> {{ job.sector }}</h5>
            <p><strong>{% trans "CATEGORIA" %}:</strong> {{ job.category }}</p>
            <p><strong>{% trans "COUNTRY" %}: </strong>{{ job.country }}</p>
            {% if job.country == 'AR' %}
            <p><strong>Ciudad: </strong>{{ job.city }}</p>
            <p><strong>Provincia: </strong>{{ job.province_name }}</p>
            {% elif job.country == 'IT' %}
            <p><strong>Regione: </strong>{{ job.region_it }}</p>
            <p><strong>Provincia: </strong>{{ job.provincia_it }}</p>
            <p><strong>Comune: </strong>{{ job.comuna_it }}</p>
            {% endif %}
            <p><strong>{% trans "FECHA_VENCIMIENTO" %}:</strong> {{ job.expiration_date }}</p>
            <p><strong>{% trans "ADRESS" %}:</strong> {{ job.address }}</p>
            <p><strong>{% trans "DESCRIP_JOB" %}:</strong> {{ job.descripcion }}</p>
            {% if request.user.is_staff or request.user.is_superuser %}
            <form action="{% url 'delete_job_post' job.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?');">
                  <i class="bi bi-trash"></i>
              </button>
          </form>
          {% endif %}

            {% if job.expiration_date|date:"Y-m-d" < today %}
            <!-- Si la fecha de vencimiento es anterior a la fecha actual, muestra el botón de vencido -->
            <button class="btn btn-danger">Publicación Vencida</button>
          {% else %}
            {% if request.user.is_authenticated and request.user.userprofile %}
                {% if is_applied %}
                    <button class="btn btn-success" disabled>Ya está postulado</button>
                {% else %}
                    <form action="{% url 'apply_for_job' job.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% trans "POSTULARSE" %}</button>
                    </form>
                {% endif %}
                   
            {% endif %}  <!-- Cierra el bloque if aquí -->
            {% endif %}  <!-- Cierra el bloque if aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
