{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />
{% now "Y-m-d" as today %} <!-- Captura la fecha actual en una variable llamada "today" -->

<section>
  <div class="container">
    <div class="row mt-60">
      <div class="col-12">
        <div class="service-block4 h-100">
          <div class="service-icon">
            <i class="icon-tools"></i>
          </div>
          <div class="service-desc">
            <h4>{{ job.title }}</h4>
            <h5><strong>Sector:</strong> {{ job.sector }}</h5>
            <p><strong>Categoría:</strong> {{ job.category }}</p>
            <p><strong>Pais: </strong>{{ job.country }}</p>
            {% if job.country == 'AR' %}
            <p><strong>Ciudad: </strong>{{ job.city }}</p>
            <p><strong>Provincia: </strong>{{ job.province_name }}</p>
            {% elif job.country == 'IT' %}
            <p><strong>Región: </strong>{{ job.region_it }}</p>
            <p><strong>Provincia: </strong>{{ job.provincia_it }}</p>
            <p><strong>Comuna: </strong>{{ job.comuna_it }}</p>
            {% endif %}
            <p><strong>Fecha de vencimiento:</strong> {{ job.expiration_date }}</p>
            <p><strong>Dirección:</strong> {{ job.address }}</p>
            <p><strong>Descripción:</strong> {{ job.descripcion }}</p>
            {% if job.expiration_date|date:"Y-m-d" < today %}
            <!-- Si la fecha de vencimiento es anterior a la fecha actual, muestra el botón de vencido -->
            <button class="btn btn-danger">Publicación Vencida</button>
          {% else %}
            {% if request.user.is_authenticated and request.user.userprofile %}
                {% if is_applied %}
                    <button class="btn btn-success" disabled>Ya está postulado</button>
                {% else %}
                    <form action="{% url 'apply_for_job' job.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Postularse</button>
                    </form>
                {% endif %}
            {% endif %}  <!-- Cierra el bloque if aquí -->
            {% endif %}  <!-- Cierra el bloque if aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
