{% extends "base.html" %}
{% load static %}
 
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

<section>
    <div class="container">
        <h2>Mis Postulaciones</h2>
        <div class="row mt-60">
            {% if applications %}
                {% for application in applications %}
                    <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                        <div class="service-block4 h-100">
                            <div class="service-icon">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="service-desc">
                                <strong>Postulado a:</strong> {{ application.job.title }} <br>
                                <strong>Empresa:</strong> {{ application.job.company.company_name }} <br>
                                <strong>Fecha de Postulación:</strong> {{ application.applied_on|date:"d M Y H:i" }} <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    <p>No tienes postulaciones actualmente.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}