{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

<section>
    <div class="container">
        <h2>{% trans "POST" %}</h2>
        <div class="row mt-60">
            {% if applications %}
                {% for application in applications %}
                    <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                        <div class="service-block4 h-100">
                            <div class="service-icon">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="service-desc">
                                <strong>{% trans "POSTULADO" %} a:</strong> {{ application.job.title }} <br>
                                <strong>{% trans "NAME_COMP" %}:</strong> {{ application.job.company.company_name }} <br>
                                <strong>{% trans "FECHA_POSTULACION" %}:</strong> {{ application.applied_on|date:"d M Y H:i" }} <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    <p>{% trans "NO_POST" %}.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}