{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />

<section>
  <div class="container">
    <div class="section-heading title-style4 border-bottom padding-25px-bottom sm-padding-15px-bottom">
      <h3><span>Mis</span> Publicaciones de Trabajo</h3>
      <p class="width-55 sm-width-75 xs-width-95">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum market.</p>
    </div>
    
    <div class="row mt-60">
      {% for job in jobs %}
      <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
        <div class="service-block4 h-100">
          <div class="service-icon">
            <i class="icon-tools"></i>
          </div>
          <div class="service-desc">
            <h4>{{ job.title }}</h4>
            <h5>{{ job.sector }}</h5>
            <p>{{ job.category }}</p>
          </div>
          
            <div class="button-group" >
              <a href="{% url 'job_details' job.id %}" class="btn btn-primary btn-sm">Detalles</a>
              <a href="{% url 'view_applicants' job.id %}" class="btn btn-primary btn-sm">Postulados</a>
              <a href="{% url 'edit_job_post' job.id %}" class="btn btn-primary btn-sm">Editar publicacion</a>
              <form method="post" action="{% url 'toggle_job_post_status' job.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm">
                  {% if job.status == 'active' %}
                  <i class="bi bi-toggle-on text-success"></i>
                  {% else %}
                  <i class="bi bi-toggle-off text-danger"></i>
                {% endif %}
                On/Off
              </button>
              </form>
            </div>
          </div>
          <form action="{% url 'delete_job_post' job.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?');">
              <i class="bi bi-trash"></i>
            </button>
          </form>
      </div>
      {% empty %}
      <div class="col">
        <p class="text-center">No has publicado trabajos aún.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}