{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'styleslistjob.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

<section>
  <div class="container">
    <div class="section-heading title-style4 border-bottom padding-25px-bottom sm-padding-15px-bottom">
      <h3>{% trans "CANDIDATOS_POSTULADOS" %} {{ job.title }}</h3>
    </div>
    
    <div class="row">
      {% for application in applications %}
      <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
        <div class="service-block4 h-100">
          <div class="service-icon">
            <i class="icon-tools"></i>
          </div>
          <div class="service-desc">
            <h4>{{ application.user_profile.user.username }}</h4>
            <p>{% trans "NAME" %}: {{ application.user_profile.name }}</p>
            <p>{% trans "LASTNAME" %}: {{ application.user_profile.lastname }}</p>
            <p>Email: {{ application.user_profile.email }}</p>
            <p>{% trans "PHONE" %}: {{ application.user_profile.phone_number }}</p>
            <p>{% trans "DNI" %}: {{ application.user_profile.document_type }} {{ application.user_profile.document_number }}</p>
            <p>{% trans "GENERO" %}: {{ application.user_profile.genero }}</p>
            <p>CV: {% if application.user_profile.cv %}<a href="{{ application.user_profile.cv.url }}">Descargar</a>{% else %}No disponible{% endif %}</p>
            <p>{% trans "BIO" %}: {{ application.user_profile.bio }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <p>No hay candidatos postulados aún.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
