{% extends "base.html" %}
{% load static widget_tweaks %}
{% load i18n %}
{% block content %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Contraseña Restablecida con Éxito</h4>
                <p>Tu contraseña ha sido cambiada correctamente. Ahora puedes <a href="{% url 'signin' %}" class="alert-link">iniciar sesión</a> con tu nueva contraseña.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
