{% extends "base.html" %}
{% load static widget_tweaks %}

{% block content %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{% trans "CREA_NEWPASS" %}</h2>
                    <p class="text-center">{% trans "TEXT_NEWPASS" %}</p>
                    <form method="post" class="my-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>{% trans "ESCRIBA_NEWPASS" %}</p>
                            {{ form.new_password1|add_class:"form-control" }}
                        </div>
                        <br>
                        <div class="form-group">
                            <p>{% trans "CONFIRM_NEWPASS" %}</p>
                            {{ form.new_password2|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "SUBMIT_NEWPASS" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
