{% extends "base.html" %}
{% load static widget_tweaks %}

{% block content %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Crea una Nueva Contraseña</h2>
                    <p class="text-center">Asegúrate de que tu contraseña sea segura y no la compartas con nadie.</p>
                    <form method="post" class="my-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>Escriba su nueva contraseña:</p>
                            {{ form.new_password1|add_class:"form-control" }}
                        </div>
                        <br>
                        <div class="form-group">
                            <p>Confirme su nueva contraseña</p>
                            {{ form.new_password2|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Cambiar Contraseña
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
