{% extends "base.html" %}
{% load static widget_tweaks %}

{% block content %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Instrucciones Enviadas</h4>
                <p>Revisa tu correo electrónico para las instrucciones de cómo restablecer tu contraseña. Si no recibes el correo en unos minutos, verifica tu carpeta de spam o <a href="{% url 'password_reset' %}" class="alert-link">intenta enviar de nuevo</a>.</p>
                <hr>
                <p class="mb-0">Si continúas teniendo problemas, por favor <a href=# class="alert-link">contáctanos</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
