{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="{% static 'stylescontact.css' %}" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="contact" class="contact-area section-padding">
	<div class="container">										
		<div class="section-title text-center">
			<h1>{% trans "TIT_CONTACT" %}</h1>
			<p>{% trans "SUB_CONTACT" %}</p>
		</div>					
		<div class="row">
			<div class="col-lg-7">	
				<div class="contact">
					<form class="form" name="enq" method="post" action="{% url 'contact' %}">
						{% csrf_token %}

						<div class="row">
							<div class="form-group col-md-6 mb-4">
								<input type="text" name="name" class="form-control" placeholder="{% trans "NOM_APE" %}" required="required">
							</div>
							<div class="form-group col-md-6 mb-4">
								<input type="email" name="email" class="form-control" placeholder="Email" required="required">
							</div>
                            <div class="form-group col-md-12 input-group">
                                <select name="subject" class="form-control" placeholder="Selecciona un servicio" required="required">
                                    <option value="" disabled selected>{% trans "ASUNTO_EMAIL" %}</option>
                                    <option value="{% trans "ASUNTO_OPCION" %}">{% trans "ASUNTO_OPCION" %}</option>
                                    <option value="{% trans "ASUNTO_TRAMITE" %}">{% trans "ASUNTO_TRAMITE" %}</option>
                                    <option value="{% trans "ASUNTO_CLASES" %}">{% trans "ASUNTO_CLASES" %}</option>
                                    <option value="{% trans "ASUNTO_INFO" %}">{% trans "ASUNTO_INFO" %}</option>
                                </select>
                            </div>
							<div class="form-group col-md-12 input-group">
								<textarea rows="6" name="message" class="form-control" placeholder="{% trans "AREA_TEXTO" %}:" required="required"></textarea>
							</div>
							<div class="col-md-12 text-center ">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">{% trans "SUBMIT_MSG" %}</button>
							</div>
						</div>
					</form>
				</div>
			</div><!--- END COL --> 
			<div class="col-lg-5">
				<div class="single_address">
					<a href="{% url 'contact' %}">
                        <i class="fa fa-envelope"></i>
                    </a>
					<h4>Envia tu mensaje</h4>
					<p>legame.it@gmail.com</p>
				</div>
				
				<div class="single_address">
                    <a href="#" id="openModal" data-toggle="tooltip" data-placement="top" title="Whatsapp">
                        <i class="fa fa-phone"></i>
                    </a>
					<h4>{% trans "CONTACT_NOS" %}</h4>
					<p>+39 351-0393839</p>
				</div>
							
			</div><!--- END COL --> 
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->	
</div>
<script>
    // Obtener elementos del DOM
    var modal = document.getElementById('myModal');
    var openModalBtn = document.getElementById('openModal');
    var closeModalBtn = document.getElementById('closeModal');

    // Función para abrir el modal
    openModalBtn.addEventListener('click', function() {
      modal.style.display = 'flex';
    });

    // Función para cerrar el modal
    closeModalBtn.addEventListener('click', function() {
      modal.style.display = 'none';
    });

    // Cerrar el modal si se hace clic fuera de él
    window.addEventListener('click', function(event) {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    });
  </script>
{% endblock content %}
