{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<body>
    <link href="{% static 'stylesfooter.css' %}" rel="stylesheet">

<div class="container mt-5">
    <div class="card shadow-lg rounded">
         <div class="card-body">
            <section class="text-center mb-4">
                <h1 class="display-4">{% trans "POLITICA_PRIVACIDAD" %}</h2>
                <p class="lead">{% trans "POLITICA_SUB" %}</p>
                <small class="text-muted">{% trans "POLITICA_INFO" %}</small>
            </section>

            <section>
                <h2>{% trans "POLITICA_UNO" %}</h2>
                <p>{% trans "POLITICA_ONE" %}</p>
                <p>{% trans "POLITICA_PRIMERO" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_DOS" %}</h2>
                <p>{% trans "POLITICA_TWO" %}</p>
                <p>{% trans "POLITICA_SEGUNDO" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_TRES" %}</h2>
                <p>{% trans "POLITICA_THREE" %}</p>
                <p>{% trans "POLITICA_TERCERO" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_CUATRO" %}</h2>
                <p>{% trans "POLITICA_FOUR" %}</p>
                <p>{% trans "POLITICA_CUARTA" %}</p>
                <p>{% trans "POLITICA_DESCRIPCION" %}</p>
                <p>{% trans "POLITICA_RESPONSABLE" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_CINCO" %}</h2>
                <p>{% trans "POLITICA_FIVE" %}</p>
                <p>{% trans "POLITICA_QUINTA" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_SEIS" %}</h2>
                <p>{% trans "POLITICA_SIX" %}</p>
                <p>{% trans "POLITICA_SEXTA" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_SIETE" %}</h2>
                <p>{% trans "POLITICA_SEVEN" %}</p>
            </section>

            <section>
                <h2>{% trans "POLITICA_OCHO" %}</h2>
                <p>{% trans "POLITICA_EIGHT" %}</p>
                <p>{% trans "POLITICA_OCTAVO" %}</p>
            </section>
            <footer>
                <p> {% trans "FOOTER_UNO" %} <a href="mailto:legame.it@gmail.com">legame.it@gmail.com</a> . {% trans "FOOTER_FIN" %}
                </p>
            </footer>
        </div>
    </div>
</div>
</body>

{% endblock content %}