{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<body>
    <link href="{% static 'stylesfooter.css' %}" rel="stylesheet">

    <section>
        <h1>POLÍTICA DE PRIVACIDAD - Progetto Legame - Búsqueda de Empleo</h2>
        <h5>Fecha de entrada en vigencia: Diciembre 2023</h5>
            <h5>Esta política describe cómo recopilamos, usamos y protegemos la información personal que nos proporcionas al utilizar nuestros servicios de búsqueda y postulación de empleo.
        </h5>
    </section>

    <section>
        <h2>1. Información que Recopilamos:</h2>
        <p>•	Datos de Registro: Recopilamos información personal como nombres, direcciones de correo electrónico y datos de contacto al registrarte en nuestra plataforma.</p>
        <p>•	Currículums Vitae (CV): Permitimos a los usuarios cargar sus CV para facilitar el proceso de postulación a empleos.</p>
        
    </section>

    <section>
        <h2>2. Uso de la Información:</h2>
        <p>•	Utilizamos la información recopilada para gestionar perfiles de usuario, facilitar la postulación a empleos y mejorar nuestros servicios.</p>
        <p>•	Los CV se comparten con empleadores interesados en la búsqueda de candidatos.</p>
    </section>

    <section>
        <h2>3. Compartir Información:</h2>
        <p>•	Tu CV y la información de perfil pueden ser compartidos con empleadores que ofrezcan oportunidades de empleo compatibles con tu experiencia y habilidades.</p>
        <p>•	No vendemos, alquilamos ni compartimos tu información personal con terceros con fines publicitarios.</p>
    </section>

    <section>
        <h2>4. Seguridad de la Información:</h2>
        <p>•	Implementamos medidas de seguridad para proteger la información de nuestros usuarios.</p>
        <p>•	Los CV y datos personales se almacenan en servidores seguros y se accede a ellos de manera controlada y limitada.</p>
        <p>•	Al cargar información, reconoces y aceptas los riesgos asociados bajo responsabilidad del usuario.</p>
        <p>•	No nos responsabilizamos por la seguridad de la información compartida con terceros.</p>
    </section>

    <section>
        <h2>5. Acceso y Control:</h2>
        <p>•	Puedes acceder y actualizar tu información personal en tu perfil en cualquier momento.</p>
        <p>•	Si deseas eliminar tu cuenta, contáctanos y procederemos a borrar tus datos de forma segura.</p>
    </section>

    <section>
        <h2>6. Cookies y Tecnologías Similares:</h2>
        <p>•	Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y realizar análisis.</p>
        <p>•	Puedes gestionar las preferencias de cookies a través de la configuración de tu navegador.</p>
    </section>

    <section>
        <h2>7. Cambios en la Política de Privacidad:</h2>
        <p>•	Nos reservamos el derecho de modificar esta política. Te notificaremos sobre cambios significativos y la fecha de entrada en vigencia.</p>
    </section>

    <section>
        <h2>8. Consentimiento:</h2>
        <p>•	Al utilizar nuestros servicios, aceptas esta política de privacidad y consientes el procesamiento de tu información personal de acuerdo con lo descrito aquí y entiendes los riesgos asociados con la carga de información personal.</p>
        <p>•	Progetto Legame se desliga de cualquier responsabilidad relacionada con problemas de seguridad que puedan surgir.</p>
    </section>
    <footer>
        <p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad, no dudes en contactarnos en <a href="mailto:legame.it@gmail.com">legame.it@gmail.com</a> . Agradecemos tu confianza al elegir Progetto Legame para tu búsqueda de empleo.
            Gracias por ser parte de nuestra comunidad.
            Progetto Legame - Equipo de Privacidad
        </p>
    </footer>

</body>

{% endblock content %}