{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">

<div class="container mt-5">
    <div class="card shadow-lg rounded">
        <div class="card-body">
            <header class="text-center mb-4">
                <h1 class="display-4">{% trans "TERMS_CON" %}</h1>
                <p class="lead">{% trans "TERMS_SUB" %}</p>
                <small class="text-muted">{% trans "TERMS_SMALL" %}</small>
            </header>

            <section>
                <h2 class="mt-4">{% trans "TERMS_ONE" %}</h2>
                <p>{% trans "TERMS_UNO" %}</p>
            </section>

            <!-- Agregado el diseño Bootstrap para las secciones restantes -->
            <section>
                <h2 class="mt-4">{% trans "TERMS_TWO" %}</h2>
                <ul>
                    <li>{% trans "TERMS_DOS" %}</li>
                    <li>{% trans "TERMS_SEGUNDO" %}</li>
                </ul>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_THREE" %}</h2>
                <p>{% trans "TERMS_TRES" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_FOUR" %}</h2>
                <ul>
                    <li>{% trans "TERMS_CUATRO" %}</li>
                    <li>{% trans "TERMS_CUARTA" %}</li>
                </ul>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_FIVE" %}</h2>
                <p>{% trans "TERMS_CINCO" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_SIX" %}</h2>
                <p>{% trans "TERMS_SEIS" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_SEVEN" %}</h2>
                <p>{% trans "TERMS_SIETE" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_EIGHT" %}</h2>
                <p>{% trans "TERMS_OCHO" %} <a href="{% url 'privacy_policy' %}">{% trans "POLIT_PRIV" %}</a>.</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_NINE" %}</h2>
                <p>{% trans "TERMS_NUEVE" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_TEN" %}</h2>
                <p>{% trans "TERMS_DIEZ" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_ELEVEN" %}</h2>
                <p>{% trans "TERMS_ONCE" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_TWELVE" %}</h2>
                <p>{% trans "TERMS_DOCE" %}</p>
            </section>

            <section>
                <h2 class="mt-4">{% trans "TERMS_THIRTEEN" %}</h2>
                <p>{% trans "TERMS_TRECE" %} <a href="mailto:legame.it@gmail.com">legame.it@gmail.com</a></p>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
