{% extends "base.html" %}
{% load static widget_tweaks %}

{% block content %}
<link href="{% static 'stylescomp.css' %}" rel="stylesheet">
<link href="{% static 'stylesfooter.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">{% trans "REGISTRO_USER" %}</h3>
                {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endif %}
              <form method="POST" class="mt-4">  
                  {% csrf_token %}
            </div>
    
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">{% trans "USER" %}</label>
                                {{ form.username|add_class:"form-control" }}
                                {% if form.username.errors %}
                                  <div class="invalid-feedback">
                                    {{ form.username.errors.as_text }}
                                  </div>
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                              <label for="{{ form.name.id_for_label }}">{% trans "NAME" %}</label>
                              {{ form.name|add_class:"form-control" }}
                              {% if form.name.errors %}
                              <div class="invalid-feedback">
                                  {{ form.name.errors.as_text }}
                              </div>
                          {% endif %}
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                              <label for="{{ form.lastname.id_for_label }}">{% trans "LASTNAME" %}:</label>
                              {{ form.lastname|add_class:"form-control" }}
                              {% if form.lastname.errors %}
                              <div class="invalid-feedback">
                                  {{ form.lastname.errors.as_text }}
                              </div>
                          {% endif %}
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                              <label for="{{ form.email.id_for_label }}">Email:</label>
                              {{ form.email|add_class:"form-control" }}
                              {% if form.email.errors %}
                              <div class="invalid-feedback">
                                  {{ form.email.errors.as_text }}
                              </div>
                          {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-sm-6 mb-3">
                          <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}">Password:</label>
                            {{ form.password1|add_class:"form-control" }}
                            {% if form.password1.errors %}
                              <div class="invalid-feedback">
                                {{ form.password1.errors.as_text }}
                              </div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                          <div class="form-group">
                          <label for="{{ form.password2.id_for_label }}">{% trans "PASS_CONFIRM" %}</label>
                          {{ form.password2|add_class:"form-control" }}
                          {% if form.password2.errors %}
                            <div class="invalid-feedback">
                              {{ form.password2.errors.as_text }}
                            </div>
                          {% endif %}
                          </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label for="{{ form.genero.id_for_label }}">{% trans "GENERO" %}</label>
                              {{ form.genero|add_class:"form-control" }}
                          </div>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="{{ form.phone_number.id_for_label }}">{% trans "PHONE" %}</label>
                            {{ form.phone_number|add_class:"form-control" }}
                            {% if form.phone_number.errors %}
                                <div class="invalid-feedback">
                                    {{ form.phone_number.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
        
                        <div class="col-sm-6 mb-3">
                          <div class="form-group">
                              <label for="{{ form.document_type.id_for_label }}">{% trans "DOC" %}</label>
                              {{ form.document_type|add_class:"form-control" }}
                          </div>
                      </div>
                      <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="{{ form.document_number.id_for_label }}">{% trans "NUM_DOC" %}</label>
                            {{ form.document_number|add_class:"form-control" }}
                            {% if form.document_number.errors %}
                            <div class="invalid-feedback">
                                {{ form.document_number.errors.as_text }}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label for="bio" class="required-field" for="message">{% trans "BIO" %}</label>
                                <textarea name="bio" class="form-control" id="bio"  rows="4" placeholder="Hi there, I would like to....."></textarea>
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">{% trans "SUBMIT" %}</button>
                        </div>
    
                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->
    
        </div>
    </div>
</div>

{% endblock %}